.right-side-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  background-color: white;
}

.show-reservation-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: sticky;
  padding: 10px;
  top: 0;
  z-index: 3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reservation-header {
  padding: 5px 0px;
  font-size: 20px;
  border-bottom: 1px solid rgb(206, 204, 204);
  text-align: center;
}

.party-size {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.size-dropdown {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(193, 193, 193);
}

#size {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  padding: 5px 0px;
  background-color: white;
  padding-left: 30px;
}

.size-dropdown:hover {
  border-bottom: 2px solid rgb(216, 50, 50);
  margin-bottom: -1px;
}

.for-num {
  position: absolute;
  top: 1px;
}


#location-arrow-size {
  position: absolute;
  left: 90%;
  top: -1px;
  pointer-events: none;
}

#arrow {
  max-width: 10px;
}

.date-time-container {
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 47%;
}

.date-dropdown {
  padding-bottom: 3px;
  position: relative;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.time {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 47%;
  margin-left: 5px;
}

#date-pick {
  width: 100%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.date-dropdown:hover {
  border-bottom: 2px solid rgb(216, 50, 50);
  margin-bottom: -1px;
}

.time-dropdown {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(193, 193, 193);
}

#time {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  padding: 5px 0px;
  background-color: white;
}

.time-dropdown:hover {
  border-bottom: 2px solid rgb(216, 50, 50);
  margin-bottom: -1px;
}

.select-time-container {
  padding-top: 15px;
}

.select-time-header {
  font-size: 20px;
}



.timeSlot {
  background-color: rgb(222, 54, 54);
  border: 1px solid rgb(222, 54, 54);
  border-radius: 3px;
  color: rgb(244, 236, 236);
  font-size: 14px;
  padding: 5px 15px;
  margin: 3px;
}

.findTableButton {
  background-color: rgb(222, 54, 54);
  border: 1px solid rgb(222, 54, 54);
  border-radius: 3px;
  color: white;
  width: 100%;
  padding: 13px 0px;
}

.res-booked {
  margin: 20px 0px;
  display: flex;
}


#graphIcon {
  max-width: 20px;
}