.show-page {
  display: flex;
  width: 83%;
  height: 100%;
  background-color: white;
  position: relative;
  left: 8.5%;
  flex-direction: column;
  align-items: center;
}


// .background {
//   position: absolute;
//   display: block;
//   top: 340px;
//   left: 10%;
//   width: 80%;
//   flex: 1;
//   background-color: green;
// }


.cafe-show-banner-container {
  position: relative;
  display: flex;
  background-color: cadetblue;
  width: 100%;
  height: 280px;
  justify-content: center;
}

.show-main-container {
  position: relative;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  top: -47px;
}

.date-time-container{
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
  flex-direction: column;
}

