.cafe-show-banner-container {
  position: absolute;
  display: flex;
  background-color: cadetblue;
  top: 60px;
  width: 80%;
  height: 280px;
  left: 10%;
}

.show-main-container {
  position: absolute;
  display: flex;
  top: 290px;
  width: 55%;
  left: 20%;
  justify-content: space-between;
}

.date-time-container{
  display: flex;
}

.date {
  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
  flex-direction: column;
}