.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.close-x {
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  position: absolute;
  color: gray;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.signup-form-container {
  width: 400px;
  padding: 40px 32px;
  margin: auto;
}

.signin-form-container {
  width: 400px;
  padding: 40px 32px;

}

.signin-form-container button {
  display: flex;
  justify-content: center;
}

.signin-form-container header {
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: left;
}

.signup-form-container header {
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: left;
}

.signin-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"] {
  padding: 0px 15px;
  width: 90%;
  height: 45px;
  margin: 10px 0px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 1px;
  box-shadow: none;
}

input[type="email"] {
  padding: 0px 15px;
  width: 90%;
  height: 45px;
  margin: 10px 0px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 1px;
  box-shadow: none;
}

input[type="password"] {
  padding: 0px 15px;
  width: 90%;
  height: 45px;
  margin: 10px 0px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 1px;
  box-shadow: none;
}

#location {
  width: 98%;
  height: 47px;
  margin: 10px 0px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 1px;
  padding-left: 15px;
  color: #817475;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;

}

#location:hover {
  cursor: pointer;
}

#location-arrow {
  display: flex;
  position: absolute;
  color: rgb(0, 0, 0);
  left: 395px;
  top: 437px;
  opacity: 0.5;
}

#location:hover + #location-arrow{
  opacity: 1;
  pointer-events: none;
}

// #location:after {
//   content: "<>";
//     -webkit-transform: rotate(90deg);
//   -moz-transform: rotate(90deg);
//   -ms-transform: rotate(90deg);
//   transform: rotate(90deg);
//   right: 11px;
// }

select option[disabled]:first-child {display: none;}

.signin-button {
  color: white;
  background-color: #e0323e;
  width: 98%;
  height: 35px;
  margin-top: 20px;
  border-color: #e0323e;
  border-radius: 2px;
}

#dontWantForm {
  border-top: 1px solid lightgray;
  padding-top: 15px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  width: 97%;
}

#demo-signin {
  display: flex;
  justify-content: center;
  color: white;
  background-color: lightcoral;
  border-color: lightcoral;
  margin-top: 3px;
  border-radius: 2px;
  padding: 5px 0px;
  width: 98.5%;
}

.newToContainer {
  display: flex;
  margin-top: 15px;
}

.newToContainer span{
  font-size: 16px;
  font-weight: 300;
  width: 40%;
}

.newToContainer button {
  font-size: 16px;
  width: 40%;
  border: none;
  background-color: white;
  color: rgb(228, 114, 114);

}

.create-account-button {
  justify-content: center;
  color: white;
  background-color: #e0323e;
  width: 98%;
  height: 35px;
  margin-top: 20px;
  border-color: #e0323e;
  border-radius: 2px;
  padding-left: 3px;
}

.form-header {
  font-family: 'Overpass', sans-serif;
  display: none;
  width: 97%;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

#pass-error {
  margin-left: 7px;
  font-size: 15px;
}

#pass2-error {
  margin-left: 7px;
  font-size: 15px;
}

.errors li{
  list-style-type: none;
  color: rgb(220, 48, 48);
}
