.outer-star {
  display: inline-block;
  position: relative;
}

.fill-star {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

#grayStars {
  height: 15px;
  width: 69px;
}

#redStars {
  width: 69px;
}

#goldStars {
  width: 69px;
}